# Node.js dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Next.js build and cache
.next/
out/
dist/
.cache/

# TypeScript build cache
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.production
.env.test
.env.development
.env.development.local
.env.test.local
.env.production.local

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# MacOS system files
Thumbs.db
.DS_Store

# Miscellaneous
*.log
coverage/
public/sw.js
public/workbox-*.js
public/workbox-*.json

# Ignore build artifacts
build/
dist/
# Ignore test artifacts
test/

# python artifacts
*.pyc
__pycache__/
*.pyo

# python virtual environments
venv/
.env/